@import url("reset.css");

/* ===== Preloading Styles ===== */
.container {
  width: 100%;
  height: 100vh;
}

.inner.preloading {
  position: relative;
  width: 100%;
  height: inherit; /* 부모 높이 상속 */
  overflow: hidden; /* 이미지가 튀어나오면 자름 */
}
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  object-fit: cover; /* background-size: cover 와 동일 */

  /* 핵심: 여기서 위치를 조절합니다 */
  object-position: 55% 20%; /* 가로 중앙, 세로 20% 지점 */

  z-index: 0; /* 제일 뒤로 */
}

.heading-preloading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 97%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #3e2723;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-preloading h1 {
  font-size: 48px;
  font-weight: 800;
  z-index: 1;
}
.heading-preloading span {
  display: block;
  font-weight: 600;
  z-index: 1;
}

.loading-circle {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.5); /* 회색(반투명) 테두리 */
  border-top: 5px solid #4e342e; /* 진한 갈색 (돌아가는 부분) */
  border-radius: 50%; /* 원형으로 만들기 */
  animation: spin 1s linear infinite; /* 1초마다 무한 회전 */
  margin-top: 50px;
  z-index: 1;
}

/* 이 부분이 반드시 있어야 합니다! */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ===== Main Styles ===== */
.inner.main {
  position: relative;
  height: 100vh;
}
.inner.main header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid #efefef;
  color: #282828;
}
.main-content {
  height: calc(100vh - 120px);
  margin: 60px 0;
}
.main-content .map {
  height: 60%;
  text-align: center;
  vertical-align: middle;
}
.main-content .map-info {
  height: 40%;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px 20px 0 0;
  border: 1px solid blue;
}
.inner.main footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: blue;
}
.map {
  position: relative;
}
.map-mylocation {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  width: 30px;
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
}

.my-location-btn {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% 50%;
}
.my-location-btn::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../assets/images/target.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
