/* Font Family CDN */
/* Font Icon CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* Font Family CDN */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  /* Font Family */
  --primary-kr: "Noto Sans KR", sans-serif;
  --primary-en: "Roboto", sans-serif;
  --logo-en: "Bree Serif", serif;
  --secondary-kr: "NEXON Lv2 Gothic";

  /* Text Color */
  --dark-black: #333333;
  --light-black: #555555;
  --dark-gray: #777777;
  --light-gray: #999999;
  --silver-gray: #c0c0c0; /* 추가된 색상 변수 */
  --gloudy-gray: #eeeeee;

  /* Object Color */
  --yellowgreen: #bbd94e;
  --gold: #f2e635;
  --beige: #f2e8d5;
  --lightpink: #f2b999;
  --crimson: #f2444e;
  --limegreen: #2ecc71;
  --royalblue: #346aff;
  --turquoise: #72e7e1;
  --snow: #f5f5f5;
  --gainsboro: #dcdcdc; /* 추가된 색상 변수 */
  --fuschia: #fcddec; /* 추가된 색상 변수 */
  --light-beige: #f2e8d5; /* 추가된 색상 변수 */

  /* For Big Size Mobile & Tablet Device */
  --slide-basis: 375px;
}
